<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Trex87</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#">HOME</a></li>
            <li><a href="#">PROFILE</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
    </div>
</nav>
<!-- container for dynamic background goes here -->
<div id="container">
    <canvas id="pixie"></canvas>
</div>
<!-- end for container with dynamic background -->